<mat-horizontal-stepper>
  <div class="stepper">
    <mat-step label="Songnummer">
      <mat-form-field>
        <mat-label>Songnummer</mat-label>
        <input matInput placeholder="1" required>
      </mat-form-field>
      <div class="row">
        <button mat-button matStepperNext color="primary" class="col s6">Next</button>
      </div>
    </mat-step>

    <mat-step label="Songtitel">
      <mat-form-field>
        <mat-label>Songtitel</mat-label>
        <input matInput placeholder="Lonely Stranger" required>
      </mat-form-field>
      <div class="row">
        <button mat-button matStepperPrevious color="primary" class="col s6">Back</button>
        <button mat-button matStepperNext color="primary" class="col s6">Next</button>
      </div>
    </mat-step>

    <mat-step label="Album">
      <mat-form-field>
        <mat-label>Album</mat-label>
        <input matInput placeholder="Delusion" required>
      </mat-form-field>
      <div class="row">
        <button mat-button matStepperPrevious color="primary" class="col s6">Back</button>
        <button mat-button color="primary" class="col s6">Save</button>
      </div>
    </mat-step>
  </div>
</mat-horizontal-stepper>
