.full-width-table {
  width: 100%;
}
.album-table{
  width: 80%;
  margin: 3% auto;
}
#album-header{
  margin: auto;
}
#addAlbum{
  background-color: lightgrey;
  margin-top: 2%;
  float: right;
}
.link{
  text-decoration: none;
  color: black;
}
