<div class="container">
    <h1>Welcome</h1>
    <mat-list>
        <mat-list-item>
          <div class="row">
            <h2 class="col">Songs</h2>
            <p class="col">Ganz einfach Songs per Formular erfassen und abspeichern</p>
            <button class="mat-flat-button lightgrey col"><a class="link" routerLink="/songs" routerLinkActive="active">Songs & Alben erfassen</a></button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="row">
            <h2 class="col">Gigs</h2>
            <p class="col">Erfasse deine Gigs und greife jederzeit darauf zu</p>
            <button class="mat-flat-button lightgrey col"><a class="link" routerLink="/gigs" routerLinkActive="active">Gigs erfassen</a></button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="row">
            <h2 class="col">Fotos</h2>
            <p class="col">Sieh dir Fotos von den letzten Auftritten an</p>
            <button class="mat-flat-button lightgrey col"><a class="link" routerLink="/photos" routerLinkActive="active">Fotos ansehen</a></button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
