<div class="container">
    <h1>Welcome</h1>
    <mat-list>
        <mat-list-item>
            <h2>Songs</h2>
            <p>Ganz einfach Songs per Formular erfassen und abspeichern</p>
            <button class="mat-flat-button lightgrey"><a class="link" routerLink="/songs" routerLinkActive="active">Songs & Alben erfassen</a></button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h2>Gigs</h2>
            <p>Erfasse deine Gigs und greife jederzeit darauf zu</p>
            <button class="mat-flat-button lightgrey"><a class="link" routerLink="/gigs" routerLinkActive="active">Gigs erfassen</a></button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h2>Fotos</h2>
            <p>Sieh dir Fotos von den letzten Auftritten an</p>
            <button class="mat-flat-button lightgrey"><a class="link" routerLink="/photos" routerLinkActive="active">Fotos ansehen</a></button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
