.container{
    width: 100%;
    text-align: center;
}
.container h1{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 3%;
}
.link{
    text-decoration: none;
    color: black;
}
mat-list-item{
  margin-bottom: 4%;
}
